@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: row;
}
.left-box{
    background-color: #3C56FF;
    width: 5%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#exit{
    margin-top: 620px;
}
.left-box-painel{
    background-color: white;
    width: 80%;
    height: 98vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left-box-inicio{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.painel-line{
    background-color: black;
    width:80%;
    border-radius: 100px;
    height: 7px;
}
.left-box-inicio img{
    width: 50%;
    height: 50%;
}
.left-box-img img{
    width: 50%;
    height: 50%;
}
.left-box-img{
    background-color: black;
    width: 50px;
    margin-top: 10px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img-btn{
    border: none;
    background-color: transparent;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.mid-box{
    background-color: #3C56FF;
    width: 65%;
    height: 100vh;
    padding-left: 1%;
}
.mid-box-atletas{
    background-color: rgb(255, 255, 255);
    height: 170px;
    width: 90%;
    margin-top: 0.8%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.text-box-atletas{
    display: flex;
    flex-direction: row;
    font-family: poppins, sans-serif;
    width: 80%;
    justify-content: start;
    align-items: center;
    height: 100%;
    padding-left: 2%;
}
.btn-box-atletas{
    width: 92%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
    font-family: poppins,sans-serif;
    padding-right: 10px;
    padding-left: 28px;
}
.btn-box-atletas a{
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.btn-box-atletas button{
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 100px;
    font-family: poppins, sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-right: 10%;
    font-size: 20px;
    cursor: pointer;
    margin-left: 2%;
}
.btn-box-atletas img{
    height: 50px;
    width: 50px;
}
.mid-box-atletas h1{
    font-family: poppins, sans-serif;
    font-size: 36px;
}
.mid-box-containers{
    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2%;
}
.mid-box-membros{
    width: 45%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #ffffff;
}
.membros-title{
    width: 100%;
    height: 20%;
    display: flex;
    font-family: poppins, sans-serif;
    font-size: 12px;
    padding-left: 20px;
    align-items: center;
}
.membros-view{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    max-height: 70%;
    padding: 10px;
}
.membros-circle{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.list-circle{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mid-box-horarios{
    width: 25%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 2%;
}
.mid-box-modalidades{
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 2%;
}
.modalidades-view{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: start;

}
.modalidades-view p{
    font-family: poppins, sans-serif;
    width: 90%;
    margin-left: 2%;
    font-size: 15px;
}
#btn-modalidades{
    width: 88%;
    height: 30%;
    border: none;
    border-radius: 100px;
    font-family: poppins, sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: black;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
.modalidades-view button{
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 100px;
    font-family: poppins, sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-right: 10%;
    font-size: 20px;
    cursor: pointer;
}
.modalidades-view a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.modalidades-view img{
    height: 95%;
    width: 30%;
}
.horarios-view{
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: start;
}
.horarios-view p{
    font-family: poppins, sans-serif;
    width: 90%;
    margin-left: 2%;
    font-size: 15px;
}
.horarios-view a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.horarios-view img{
    width: 80%;
    height: 100%;
}
#btn-horarios{
    width: 90%;
    height: 95%;
    border: none;
    border-radius: 100px;
    font-family: poppins, sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-right: 12%;
    font-size: 20px;
    cursor: pointer;
}
#btn-horarios img{
    height: 100%;
    width: 33%;
    margin-right: 10%;
}
.box-stats a{
    text-decoration: none;
}
.box-stats button{
    margin-left: 50px;
}
.low-mid-box{
    height: 44.7%;
    border-radius: 20px;
    margin-top: 2%;
    width: 90%;
    display: flex;
    gap: 2%;

}
.box-stats{
    height: 100%;
    width: 55%;
    border-radius: 20px;
    background-color: #ffffff;
}
.low-mid-box-right{
    height: 100%;
    width: 43%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 4%;
}
.box-treino{
    height: 48%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 0 auto; 
}
.box-central{
    height: 48%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.front-box, .between-box, .back-box{
    position: absolute; 
    width: 100%; 
    height: 100%;
    border-radius: 100px;
}
.front-box{
    width: 70%;
    height: 30%;
    background-color: #ffffff;
    border-radius: 100px;
    position: relative;
    top: 40px;
    z-index: 3;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 20px;
}
.front-box img{
    width: 15%;
    height: 80%;
    margin-left: 15px;
}
#horario{
    color: #797676;
    font-size: 15px;
    font-weight: 500;
    height: 60%;
}
#treino{
    padding-right: 30px;
    margin-top: 5px;
}
.treino-hora{
    width: 50%;
    height: 100%;
    display: flex;
    align-items:  center;
    margin-right: 40px;
    flex-direction: column;
    margin-top: 1px;
}
.front-box p{
    font-family: poppins, sans-serif;   
    font-size: 20px;
    font-weight: bold;
    height: 40%;
}
.between-box{
    width: 60%;
    height: 25%;
    background-color: #dadada;
    border-radius: 20px;
    position: relative;
    top: 5px;
    z-index: 2;
}
.back-box{
    width: 50%;
    height: 25%;
    background-color: #797676;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    bottom: 30px;
}
.central-view{
    font-family: poppins, sans-serif;
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
}
.right-box{
    background-color: #3C56FF;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}
.table-container {
    width: 90%;
    max-width: 1000px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #000000;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 15px;
}

th {
    font-weight: bold;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:last-child {
    border-bottom: none;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.sub-text {
    color: #777;
    font-size: 12px;
}

i {
    color: #000;
    font-size: 18px;
    cursor: pointer;
}

tbody tr td i {
    float: right;
}
.left-box-painel button{
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membros-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.list-circle {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: poppins, sans-serif;
    color: #000;
    font-weight: 500;
    flex-direction: row;
}

.membros-circle {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.membros-circle img{
    height: 30px;
    width: 30px;
}

.nome-jogador {
    font-size: 13px;
    color: #333;
}

.box-notifi-title {
    width: 100%;
    height: 16%;
    font-family: poppins, sans-serif;
    color: white;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.notifi-geral {
    width: 85%;
    height: 5%;
    border-radius: 100px;
}

.notifi-line {
    width: 85%;
    height: 2%;
    background-color: rgb(255, 255, 255);
}

#geral-not {
    margin-left: 5px;
    font-weight: 500;
    overflow-y: auto;
    max-height: 200px;
    padding-right: 10px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.box-mensagem {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.text-msg {
    font-family: poppins, sans-serif;
    font-size: 14px;
    color: #ffffff;
    width: 80%;
    margin-top: 10px;
    font-weight: 500;
}

.left-msg {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.left-msg img {
    height: 28%;
    width: 35%;
}

.left-msg p {
    font-family: poppins, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.membro {
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
